@import url("https://fonts.googleapis.com/css2?family=Caladea&family=Livvic:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(#DD95F7 0%, #9AADF9 50%, #7FC9D9 100%);
  height: auto; }

header {
  box-sizing: border-box;
  display: flex;
  z-index: -1;
  width: auto;
  height: 140px; }
  header .container_logoinicial {
    justify-content: right;
    justify-items: right;
    width: 45%; }
    header .container_logoinicial .header_logoinicial {
      height: 110px;
      position: relative;
      justify-items: right;
      border-radius: 50%;
      top: 10%;
      box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      background-color: darkgreen; }
  header .flex-container ul {
    display: flex;
    justify-content: flex-end; }
    header .flex-container ul .content {
      position: relative;
      top: 2.5rem;
      width: 120px;
      height: 44px;
      display: flex;
      background-color: #F4DAF6;
      justify-content: flex-end;
      border-radius: 30px;
      overflow: hidden;
      margin: 1%; }
      header .flex-container ul .content::before, header .flex-container ul .content::after {
        content: "";
        position: absolute;
        top: -130px;
        width: 100px;
        height: 100px;
        background-color: #6C3696;
        transform-origin: right bottom;
        transition: 0.5s; }
      header .flex-container ul .content::before {
        left: -5%; }
      header .flex-container ul .content::after {
        right: -5%;
        transform-origin: left bottom; }
      header .flex-container ul .content:hover:before {
        transform: rotate(-90deg); }
      header .flex-container ul .content:hover:after {
        transform: rotate(90deg); }
      header .flex-container ul .content .text {
        position: absolute;
        z-index: 1;
        top: 4%;
        left: 4%;
        width: 92%;
        height: 40px;
        border-radius: 30px;
        outline: none;
        border: none;
        background-color: #F0F0F0;
        color: #6C3696;
        cursor: pointer;
        font-size: 12px;
        font-family: "Inter";
        letter-spacing: 2px;
        text-align: center;
        padding-top: 10%; }

@media (max-width: 650px) {
  .vector1 {
    display: none; } }

@media (max-width: 465px) {
  .flex-container .menu {
    display: flex; }
  .menu {
    width: 45px;
    height: 29px;
    cursor: pointer;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    right: 1rem; }
  .menu .menu_hamburger {
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: #F0F0F0;
    transition: 0.3s ease;
    transform-origin: left; }
  :nth-child(3) {
    transform-origin: left; }
  .active .menu_hamburger {
    background: dodgerblue; }
  .active .menu_hamburger:nth-child(1) {
    transform: rotate(40deg); }
  .active .menu_hamburger:nth-child(3) {
    transform: rotate(-40deg); }
  .active .menu_hamburger:nth-child(2) {
    transform: scale(0); }
  .active header {
    transform: down(2s);
    height: 426px; }
  .flex-container ul {
    --height: 0px;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    left: 0;
    top: 20%;
    height: var(--height);
    z-index: 160;
    transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
  .flex-container ul.active {
    --height: calc(
		(((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber)
	);
    transition: 1s ease; }
  .flex-container ul li {
    width: 100%;
    text-align: center; }
  .flex-container ul li a {
    width: 110%;
    text-transform: capitalize; }
  header .flex-container ul .content {
    position: relative;
    top: 5px;
    width: 120px;
    height: 44px;
    display: flex;
    background-color: #F4DAF6;
    justify-content: flex-end;
    border-radius: 30px;
    overflow: hidden;
    margin: 1%; } }

main {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  color: #F5F5F5; }
  main .vector1 {
    width: 12%;
    height: 18%;
    background-color: transparent;
    border: 19px solid #F5F5F5;
    position: absolute;
    top: -10%;
    left: 19%;
    box-shadow: rgba(65, 65, 70, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    background-color: transparent;
    transform: rotate(10deg); }
  main .vector2 {
    background-color: transparent;
    border: 20px solid #FFFFFF;
    width: 203px;
    height: 191px;
    border-radius: 30px;
    position: absolute;
    left: -115px;
    bottom: -0px;
    z-index: -1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  main .vector3 {
    background-color: transparent;
    border: 19px solid #F0F0F0;
    width: 198px;
    height: 190px;
    right: 1px;
    border-radius: 30px;
    position: absolute;
    bottom: 4%;
    z-index: -6;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: rotate(3deg); }
  main .container_home {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr;
    width: 90%;
    height: auto; }
    main .container_home .container_titulos {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 3px;
      margin: 5px;
      height: auto; }
      main .container_home .container_titulos .mensaje_bienvenida {
        width: 80%;
        height: auto;
        font-size: 3.2rem;
        letter-spacing: 3px;
        font-family: "Caladea";
        margin: 6% 0 5% 10%;
        padding-top: 3%; }
      main .container_home .container_titulos .mensaje_bienvenida2 {
        font-size: 1.4rem;
        width: 88%;
        height: auto;
        letter-spacing: 1.5px;
        font-family: "Livvic";
        margin-left: 10%; }
        main .container_home .container_titulos .mensaje_bienvenida2 .links_home {
          text-decoration: none; }
      main .container_home .container_titulos .container_image_vino .img-vino {
        height: 510px; }
    main .container_home .destacado {
      color: #0B0B0B; }

@media (max-width: 465px) {
  main .container_home {
    grid-template-columns: 1fr; }
  main .container_home .container_titulos {
    width: 100%;
    text-align: center;
    align-items: center;
    grid-template-rows: 180px 150px;
    gap: 10px; }
  main .container_home .container_titulos .mensaje_bienvenida {
    font-size: 2.5rem;
    margin: 5px;
    width: 97%;
    height: 180px; }
  main .container_home .container_titulos .mensaje_bienvenida2 {
    font-size: 1.2rem;
    margin: 10px 5px;
    width: 97%;
    height: 130px; }
  .img-vino {
    display: none; }
  .vector2 {
    display: none; }
  .vector3 {
    display: none; } }

footer {
  width: 100%;
  height: auto;
  padding-top: 60px; }
  footer .footer_container {
    padding-top: 10px;
    margin-bottom: 15px;
    width: 96%;
    height: auto;
    color: #0B0B0B;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    z-index: 30;
    background-image: linear-gradient(#dacdcd, transparent);
    font-family: "Caladea"; }
    footer .footer_container .copyright {
      padding-top: 6px;
      width: auto; }
    footer .footer_container .redes {
      text-align: center;
      padding-top: 5px; }
      footer .footer_container .redes .fa-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        border-radius: 30%; }
      footer .footer_container .redes .titulo_footer {
        font-size: 1.2rem; }
    footer .footer_container .rse {
      text-align: right;
      width: 220px;
      padding-top: 5px; }
      footer .footer_container .rse .destacado {
        color: #0B0B0B; }

@media (max-width: 465px) {
  .footer_container .copyright {
    font-size: 14px;
    margin-left: 9px; }
  .footer_container .redes {
    width: auto; }
  .footer_container .redes .titulo_footer {
    font-size: 0.5rem; }
  .rse {
    display: none; } }

.contactanos_page {
  width: 100%;
  height: auto;
  color: #F0F0F0; }
  .contactanos_page .container_contactacnos_page {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    width: auto; }
    .contactanos_page .container_contactacnos_page .title_contactanos {
      letter-spacing: 3.5px;
      width: 100%;
      color: #0B0B0B;
      text-align: center;
      margin: 15px;
      font-size: 3rem;
      font-family: "Caladea"; }
    .contactanos_page .container_contactacnos_page .img_vino_contactanos {
      width: 600px;
      height: auto;
      border-radius: 5%;
      left: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      position: relative; }
    .contactanos_page .container_contactacnos_page form {
      position: relative;
      display: flex;
      justify-items: center;
      justify-content: space-around;
      align-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      border: 2px solid #CCC;
      border-radius: 1em;
      font-size: 1.3rem;
      font-family: "Caladea";
      width: 36.5%;
      height: auto;
      padding: 1em;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
      .contactanos_page .container_contactacnos_page form ul {
        list-style: none;
        padding: 0;
        margin-left: 29px;
        width: 100%; }
        .contactanos_page .container_contactacnos_page form ul .nombre {
          border-radius: 5px;
          width: 100%; }
        .contactanos_page .container_contactacnos_page form ul li + li {
          margin-top: 1em;
          width: 100%; }
          .contactanos_page .container_contactacnos_page form ul li + li input {
            width: 100%;
            vertical-align: top;
            border-radius: 5px; }
          .contactanos_page .container_contactacnos_page form ul li + li input:focus {
            border-color: #0B0B0B; }
          .contactanos_page .container_contactacnos_page form ul li + li textarea {
            vertical-align: top;
            height: 5em;
            width: 100%;
            border-radius: 5px; }
            .contactanos_page .container_contactacnos_page form ul li + li textarea:focus {
              border-color: #0B0B0B; }
        .contactanos_page .container_contactacnos_page form ul .button_enviar, .contactanos_page .container_contactacnos_page form ul .button_limpiar {
          padding: 9px 15px;
          letter-spacing: 1.5px;
          display: inline;
          cursor: pointer;
          font-size: 16px;
          margin-top: 15px;
          border-radius: 2em;
          box-sizing: border-box;
          text-decoration: none;
          font-family: 'Caladea', serif;
          font-weight: 300;
          color: #F5F5F5;
          background-color: #33093ad5;
          text-align: center;
          transition: all 0.2s; }
          .contactanos_page .container_contactacnos_page form ul .button_enviar:hover, .contactanos_page .container_contactacnos_page form ul .button_limpiar:hover {
            background-color: #704279d5; }
    .contactanos_page .container_contactacnos_page .aura {
      text-decoration: none;
      color: #F0F0F0; }
      .contactanos_page .container_contactacnos_page .aura:hover {
        color: #0B0B0B; }
    .contactanos_page .container_contactacnos_page .pagina_amiga {
      grid-area: pagina_amiga;
      background-color: #33093adc;
      color: #F0F0F0;
      position: relative;
      width: 55%;
      height: 100px;
      margin-left: 5%;
      margin-top: 30px;
      padding-top: 20px;
      box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      font-family: "Caladea";
      letter-spacing: 1.5px; }
  .contactanos_page .vector1_contactanos_page {
    background-color: transparent;
    border: 18px solid #FFFFFF;
    width: 12%;
    height: 20%;
    border-radius: 30px;
    position: absolute;
    top: -8%;
    left: 25%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: rotate(8deg); }
  .contactanos_page .vector2_contactanos_page {
    background-color: transparent;
    border: 20px solid #FFFFFF;
    width: 203px;
    height: 191px;
    border-radius: 30px;
    position: absolute;
    left: -96px;
    bottom: -180px;
    z-index: -1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: rotate(-8deg); }
  .contactanos_page .vector3_contactanos_page {
    background-color: transparent;
    border: 19px solid #FFFFFF;
    width: 198px;
    height: 190px;
    right: 15px;
    bottom: -190px;
    border-radius: 30px;
    position: absolute;
    z-index: -6;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: rotate(3deg); }

@media all and (max-width: 465px) {
  .contactanos_page {
    width: 100%;
    height: auto; }
  .vector1_contactanos_page {
    display: none; }
  .vector3_contactanos_page {
    display: none; }
  a.button3 {
    display: block;
    margin: 0.2em auto; }
  .contactanos_page .container_contactacnos_page {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px; }
  .contactanos_page .container_contactacnos_page .img_vino_contactanos {
    width: 89%;
    height: auto;
    margin: 0;
    border: none;
    position: relative; }
  .container_contactacnos_page .title_contactanos {
    font-size: 2.5rem; }
  .contactanos_page .vector2_contactanos_page {
    position: absolute;
    z-index: -1;
    width: 133px;
    height: 121px;
    border-radius: 30px;
    border: 13px solid #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: rotate(-8deg); }
  .contactanos_page .container_contactacnos_page form {
    font-size: 1.2rem;
    width: 89%; }
  .contactanos_page .container_contactacnos_page form ul {
    margin-left: 15px; }
  .contactanos_page .container_contactacnos_page .pagina_amiga {
    display: none; } }

.suscripcion_page {
  width: 100%;
  height: auto; }
  .suscripcion_page .title_contactanos {
    letter-spacing: 3.5px;
    width: 100%;
    height: 8%;
    text-align: center;
    align-items: center;
    margin: 15px;
    font-size: 3.2rem;
    font-family: "Caladea"; }
  .suscripcion_page .vector2_suscripcion_page {
    width: 12%;
    height: 18%;
    background-color: transparent;
    border: 19px solid #F5F5F5;
    position: absolute;
    bottom: -500px;
    left: 86.5%;
    box-shadow: rgba(65, 65, 70, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    background-color: transparent;
    z-index: -10; }
  .suscripcion_page .destacado {
    color: #0B0B0B; }

section .album .container .row .col .card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 12px 16px;
  border-radius: 15px;
  height: 100%; }
  section .album .container .row .col .card:hover {
    transform: translateY(-15px);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 12px 16px; }
  section .album .container .row .col .card h2 {
    font-family: 'Caladea', serif;
    color: #0B0B0B; }
  section .album .container .row .col .card .bd-placeholder-img {
    max-width: 80%;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  section .album .container .row .col .card .card-body .card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  section .album .container .row .col .card .card-body .card-text {
    color: #536471;
    text-align: center;
    font-size: 16px; }
  section .album .container .row .col .card .card-body .price {
    color: #050505;
    font-size: 1.5rem;
    font-family: "Caladea";
    text-align: center; }
  section .album .container .row .col .card .card-body .bn632-hover {
    width: 160px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    section .album .container .row .col .card .card-body .bn632-hover:hover {
      background-position: 100% 0;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    section .album .container .row .col .card .card-body .bn632-hover:focus {
      outline: none; }
  section .album .container .row .col .card .card-body .bn25 {
    background-image: linear-gradient(to right, #030303, #485563, #2e6386, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75); }

@media (max-width: 465px) {
  .suscripcion_page .title_contactanos {
    letter-spacing: 3.5px;
    font-size: 2.8rem;
    font-family: "Caladea"; } }

.tienda_page {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  color: white; }
  .tienda_page .title {
    letter-spacing: 3.5px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    position: relative;
    font-family: "Caladea"; }
    .tienda_page .title .destacado {
      color: #0B0B0B; }
  .tienda_page .subtitulos {
    background-color: whitesmoke;
    width: 100%;
    padding: 30px 45px 35px 85px;
    letter-spacing: 1px;
    color: #0B0B0B;
    font-family: "Caladea"; }
  .tienda_page .vector1_second_page {
    background-color: transparent;
    width: 12%;
    height: 20%;
    border: 20px solid #FFFFFF;
    border-radius: 30px;
    position: absolute;
    top: -11%;
    left: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: rotate(-10deg); }
  .tienda_page .vector2_second_page {
    background-color: transparent;
    position: absolute;
    width: 190px;
    height: 190px;
    left: -40px;
    bottom: -3120px;
    border: 20px solid #FFFFFF;
    border-radius: 30px;
    z-index: -1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: rotate(-6deg); }

/* Box Scroll to top */   
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: violet;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: -9px 10px 4px 0px rgba(45, 54, 65, 0.75);
}

#myBtn:hover {
  background-color: orange;
}

/* ---------- */

@media (max-width: 650px) {
  .vector1_second_page {
    display: none; }
  .vector2_second_page {
    display: none; } 
  #button {
    margin: 30px;
  }
  }

.diario_page {
  box-sizing: border-box;
  width: 100%;
  height: auto; }
  .diario_page .vector1_third_page {
    background-color: transparent;
    width: 12%;
    height: 20%;
    border: 20px solid #FFFFFF;
    border-radius: 30px;
    position: absolute;
    top: -11%;
    left: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: rotate(-10deg); }
  .diario_page .vector2_third_page {
    background-color: transparent;
    position: absolute;
    width: 190px;
    height: 190px;
    left: -50px;
    bottom: -745px;
    border: 20px solid #FFFFFF;
    border-radius: 30px;
    z-index: -1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .diario_page .contenedor {
    width: 100%;
    max-width: 1200px;
    padding: 40px 0; }
    .diario_page .contenedor .contenedor-conciertos {
      align-items: center;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 20px; }
      .diario_page .contenedor .contenedor-conciertos .card {
        border-radius: 10px;
        width: 260px;
        height: 265px;
        padding: 11px;
        position: relative;
        overflow: hidden;
        background-position: center center;
        background-color: #485461, transparent;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%); }
        .diario_page .contenedor .contenedor-conciertos .card:hover {
          transform: translateY(-15px);
          box-shadow: rgba(0, 0, 0, 0.5) 0px 12px 16px; }
        .diario_page .contenedor .contenedor-conciertos .card .textos {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          margin-left: 1px; }
          .diario_page .contenedor .contenedor-conciertos .card .textos .titulo_card {
            font-family: "Caladea";
            text-align: center; }
          .diario_page .contenedor .contenedor-conciertos .card .textos .bn632-hover {
            width: 100px;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            margin: 20px 20px 0 0;
            height: 42px;
            text-align: center;
            border: none;
            background-size: 300% 100%;
            border-radius: 50px;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out; }
            .diario_page .contenedor .contenedor-conciertos .card .textos .bn632-hover:hover {
              background-position: 100% 0;
              -moz-transition: all 0.5s ease-in-out;
              -o-transition: all 0.5s ease-in-out;
              -webkit-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out; }
            .diario_page .contenedor .contenedor-conciertos .card .textos .bn632-hover:focus {
              outline: none; }
          .diario_page .contenedor .contenedor-conciertos .card .textos .bn25 {
            background-image: linear-gradient(to right, #030303, #485563, #2e6386, #4e4376);
            box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75); }
  .diario_page .title_diario {
    letter-spacing: 3.5px;
    width: 80%;
    height: 15%;
    text-align: center;
    align-items: center;
    margin: 5px;
    font-size: 3rem;
    position: relative;
    left: 10%;
    font-family: "Caladea"; }
    .diario_page .title_diario .destacado {
      color: #0B0B0B; }
  .diario_page .carousel .carousel-item .d-block {
    width: 650px;
    height: 460px; }

@media all and (max-width: 465px) {
  .diario_page .title_diario {
    font-size: 2rem;
    left: 10%;
    text-align: center; }
  .diario_page .carousel .carousel-item .d-block {
    width: 100%;
    height: 310px; }
  .vector1_third_page {
    display: none; }
  .vector2_third_page {
    display: none; } }
